/* styles for smorrs.com */

html, body {
  font-family: 'Glacial Indifference', sans-serif;
}

html, body {
  /*background:
    linear-gradient(
      rgba(51, 52, 73, 0.9),
      rgba(51, 52, 73, 0.9)
    ),
    url("../img/flicker-bg.gif") no-repeat center center fixed;
  background-size: cover;*/
  background-color: #333449;
  margin: 0;
  color: #fff;
}

::selection {
  background: #FF9E72; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FF9E72; /* Gecko Browsers */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
  line-height: 1.8em;
  font-weight: 100;
}

h5 {
  font-size: 1em;
  line-height: 2em;
  font-weight: 100;
}

/* site styles */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    max-width: 1024px;
}

.logo {
  background: url("../img/logo.svg") no-repeat center center;
  background-size: 100%;
  height: 63px;
  width: 40px;
  margin: 0 0 50px 0;
  -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
}
  @-webkit-keyframes pulse {
      0% { -webkit-transform: scale(0.95); opacity: 0.8; }
      50% { -webkit-transform: scale(1); opacity: 1; }
      100% { -webkit-transform: scale(0.95); opacity: 0.8; }
  }

  @keyframes pulse {
      0% { transform: scale(0.95); opacity: 0.8; }
      50% { transform: scale(1); opacity: 1; }
      100% { transform: scale(0.95); opacity: 0.8; }
  }

.description {
  max-width: 460px;
  width: 100%;
}
  .description h5, .description h5 a {
    color: #FAEDD1;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
    .description h5 a:hover { opacity: .7; }
  .description h5 span {
    color: #575866;
    margin: 0 10px;
  }

.divider {
  border-bottom: 2px solid #EE9468;
  max-width: 50px;
  width: 100%
}

.portfolio .bio {
  margin: 60px 0;
}
.portfolio .bio h3 {
  color: #FAEDD1;
  margin: 12px 0;
}

.jaye .divider { border-color: #E54EDF; }
.silas .divider { border-color: #6563D6; }

.social {
  float: left;
  margin-left: -70px;
  margin-top: -13px;
}
.social ul {
  padding: 0;
}
.social ul li {
  margin: 0 4px;
  display: inline-block;
}
.social ul li a {
  color: #575866;
  -ms-interpolation-mode: bicubic;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social ul li.twitter a:hover { color: #1FA4F0; }
.social ul li.dribbble a:hover { color: #E54C86; }

/* portfolio */
  ul.work {
    padding: 0;
    margin-top: 30px;
  }
  ul.work li {
    list-style: none;
    margin: 15px 0;
  }
  ul.work li a { color: #fff; }

  ul.work li:before {
      content: '- ';
      color: #EE9468;
      margin-right: 10px;
      display: inline-block;
    }
  ul.work li span {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
    ul.work li span:before, .portfolio ul li span:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 4px;
      top: 50%;
      margin-top: -0.5px;
      background: #EE9468;
    }
    ul.work li span:before {
      left: -2.5px;
    }
    ul.work li span:after {
      right: 2.5px;
      background: #EE9468;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    ul.work li span:hover:before {
      background: #EE9468;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    ul.work li span:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  ul.work li p {
    color: #575866;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
  }
  ul.work li .extra {
    opacity: 0;
    display: inline-block;
    color: #575866;
    font-size: .8em;
    text-transform: uppercase;
    -ms-interpolation-mode: bicubic;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
    ul.work li .extra:before {
      content: ' // ';
      color: #575866;
      margin: 0 10px;
    }
  ul.work li:hover .extra {
    opacity: 100;
  }
