body,
html {
	background: linear-gradient(rgba(51, 52, 73, 0.95), rgba(51, 52, 73, 0.95)) no-repeat center center fixed;
	background-size: cover;
	background-color: #333449;
	margin: 0;
	color: #fff;
}

body {
	font-family: "Glacial Indifference", sans-serif;
}
// Typography

::selection {
	background: #FF9E72;
}

::-moz-selection {
	background: #FF9E72;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h3 {
	font-size: 1.1em;
	font-weight: 600;
}

h4 {
	font-size: 1.125em;
	line-height: 1.8em;
	font-weight: 100;
}

h5 {
	font-size: 1em;
	line-height: 2em;
	font-weight: 100;

	span {
		color: #575866;
		margin: 0 10px;
	}
}
// Layout

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5%;
	max-width: 1024px;
}

.logo {
	background: url("../img/logo.svg") no-repeat center center;
	background-size: 100%;
	height: 86px;
	width: 70px;
	margin: 0 0 30px;
}

.description {
	max-width: 460px;
	width: 100%;

	h5 a {
		color: #FAEDD1;
		text-decoration: none;
		-ms-interpolation-mode: bicubic;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;

		:hover {
			opacity: 0.7;
		}
	}
}

.divider {
	border-bottom: 2px solid #EE9468;
	max-width: 50px;
	width: 100%;
}

.sm-divider {
	max-width: 25px;
}

.md-divider {
	max-width: 40px;
	margin-top: 15px;
	margin-bottom: 35px;
}

.jaye .divider {
	border-color: #F2C94C;
}

.silas .divider {
	border-color: #BB6BD9;
}

.portfolio .bio {
	margin: 60px 0;

	h3 {
		color: #FAEDD1;
		font-size: 0.875em;
		margin: 12px 0;
		font-family: "YoungSerif", sans-serif;
	}
}
//Social Icons

.social {
	float: left;
	margin-left: -70px;
	margin-top: -13px;
}

.social ul {
	padding: 0;

	li {
		margin: 0 4px;
		display: inline-block;

		a {
			color: #575866;
			-ms-interpolation-mode: bicubic;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
}

.social ul li.twitter a:hover {
	color: #1FA4F0;
}

.social ul li.dribbble a:hover {
	color: #E54C86;
}
// Work Items

.work {
	padding: 0;
	margin-top: 30px;

	li {
		list-style: none;
		margin: 15px 0;
		font-size: 1.5em;

		a {
			color: #fff;
		}

		#rff {
			border-color: #6FCF97;
		}

		#rgs {
			border-color: #56CCF2;
		}

		#gtg {
			border-color: #D3716B;
		}

		#vrv {
			border-color: #F2C94C;
		}

		#ebl {
			border-color: #2D9CDB;
		}

		#blk {
			border-color: #EB5757;
		}

		span {
			position: relative;
			display: inline-block;
			cursor: pointer;
		}

		&:before {
			color: #EE9468;
			margin-right: 10px;
			display: inline-block;
		}
	}
}

.work {
	li {
		span {
			&:before {
				content: "";
				position: absolute;
				width: 0;
				height: 4px;
				top: 50%;
				margin-top: -0.5px;
				background: #EE9468;
			}
		}
	}
}

.portfolio {
	li {
		span {
			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 4px;
				top: 50%;
				margin-top: -0.5px;
				background: #EE9468;
			}
		}
	}
}

ul.work {
	li {
		span {
			&:before {
				left: -2.5px;
			}

			&:after {
				right: 2.5px;
				background: #EE9468;
				transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
			}

			&:hover {
				&:before {
					background: #EE9468;
					width: 100%;
					transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
				}

				&:after {
					background: transparent;
					width: 100%;
					transition: 0s;
				}
			}
		}

		p {
			margin: 0;
			font-weight: 600;
			letter-spacing: 2px;
			display: inline-block;
		}

		.extra {
			opacity: 0;
			display: inline-block;
			font-size: 0.8em;
			text-transform: lowercase;
			-ms-interpolation-mode: bicubic;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			p {
				color: #EE9468;
				font-size: 0.725em;
			}

			&:before {
				content: " // ";
				margin: 0 10px;
				color: #575866;
			}
		}

		&:hover {
			.extra {
				opacity: 100;
			}
		}
	}
}