/* main */

body {
        background: url(https://images.unsplash.com/photo-1475483768296-6163e08872a1?auto=format&fit=crop&w=3300&q=80) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  body:before {
      content: "";
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background: rgba(51,52,73,0.5);
  }
  h1 {
    color: #F9F1DB;
  }



/* styles */

.logo { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* half the height */
    margin-left: -100px; /* half the width */
    width: 200px; 
    height: 200px;
    background:url(img/logo.svg) center center no-repeat;
    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out; 
    -moz-animation: pulse 3s infinite ease-in-out; 
    animation: pulse 3s infinite ease-in-out;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.97); opacity: 0.8; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.97); opacity: 0.8; }
}

@keyframes pulse {
    0% { transform: scale(0.97); opacity: 0.8; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.97); opacity: 0.8; }
}
